{% extends 'base.html' %}

{# XXX: deprecated module #}
{% load markup %}

{% block subtitle %} - {{ recipe.name }}{% endblock %}

{% block content %}
    <article>
        <h2>{{ recipe.name }}</h2>
        <span class="author">by <a href="{% url keuken:recipes-by-author recipe.author.username %}">{{ recipe.author }}</a></span>

        <section>
            <h3>Ingredients</h3>
			<ol>
			{% for ingredient in recipe.recipeingredient_set.all %}
				<li>{{ ingredient }}</li>
			{% endfor %}
			</ol>
        </section>

        <section>
            <h3>Directions</h3>
			<ol>
			{% for direction in recipe.direction_set.all %}
				<li>{{ direction }}</li>
			{% endfor %}
			</ol>
        </section>
    </article>
{% endblock %}
