<!DOCTYPE html>

<html>

<head>
    <title>
        Tuinkeuken
        {% block title %}{% endblock %}
    </title>
</head>

<body>

{% block header %}
    <h1>Heuy koken</h1>
{% endblock %}

<h2>List ALL the recipes o/</h2>
{% block content %}
    <ol>
        {% for recipe in recipes %}
            <li>{{ recipe }}</li>
        {%  empty %}
            <li>Nope, find your own recipe...</li>
        {% endfor %}
    </ol>
{% endblock %}

{% block footer %}
    <footer>
        &copy; Tuinfizzle 2012&ndash;{% now 'Y' %}
    </footer>
{% endblock %}

</body>

</html>
